arrays.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns9="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  attributeFormDefault="qualified">

  <complexType name="taughtCommandIds">
    <sequence>
      <element name="long" type="xsd:string"/>
    </sequence>
  </complexType>

  <complexType name="LanguageElementIds">
    <sequence>
      <element name="long" type="xsd:string"/>
    </sequence>
  </complexType>

</schema>
