congruity/arrays.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:mns="http://schemas.microsoft.com/2003/10/Serialization/"
  xmlns:ns1="http://schemas.datacontract.org/2004/07/Logitech.Harmony.Services.Common.Contracts.Data"
  xmlns:ns9="http://schemas.microsoft.com/2003/10/Serialization/Arrays"
  xmlns:ns11="http://schemas.datacontract.org/2004/07/Logitech.Harmony.Services.DataContract.Activity"
  xmlns:ns12="http://schemas.datacontract.org/2004/07/Logitech.Harmony.Services.DataContract.UserFeature"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  attributeFormDefault="qualified">
  <import namespace="http://schemas.datacontract.org/2004/07/Logitech.Harmony.Services.Common.Contracts.Data" schemaLocation="data.xsd"/>
  <import namespace="http://schemas.datacontract.org/2004/07/Logitech.Harmony.Services.DataContract.Activity" schemaLocation="activity.xsd"/>
  <import namespace="http://schemas.datacontract.org/2004/07/Logitech.Harmony.Services.DataContract.UserFeature" schemaLocation="user_feature.xsd"/>
  <import namespace="http://schemas.microsoft.com/2003/10/Serialization/" schemaLocation="serialization.xsd"/>

  <complexType name="taughtCommandIds">
    <sequence>
      <element name="long" type="xsd:string"/>
    </sequence>
  </complexType>

  <complexType name="LanguageElementIds">
    <sequence>
      <element name="long" type="xsd:string"/>
    </sequence>
  </complexType>

  <complexType name="KeyValueOfActivityTypeArrayOfAbstractActivityRole">
    <sequence>
      <element name="Key" type="xsd:string"/>
      <element name="Value" type="ns11:Roles"/>
    </sequence>
  </complexType>

  <complexType name="KeyValueOfDeviceIdArrayOfDeviceFeature">
    <sequence>
      <element name="Key" type="ns1:Id"/>
      <element name="Value" type="ns12:DeviceFeatures"/>
    </sequence>
  </complexType>

  <complexType name="KeyValueOfActivityTypeRoleToDeviceMapping">
    <sequence>
      <element name="Key" type="xsd:string"/>
      <element name="Value" type="ns11:RoleToDeviceMapping"/>
    </sequence>
  </complexType>

  <complexType name="KeyValueOfAbstractActivityRoleArrayOfDeviceId">
    <sequence>
      <element name="Key" type="ns11:AbstractActivityRole"/>
      <element name="Value" type="ns1:deviceIds"/>
    </sequence>
  </complexType>

  <complexType name="KeyValueOfDeviceIdArrayOfCommand">
    <sequence>
      <element name="Key" type="ns1:Id"/>
      <element name="Value" type="ns1:Commands"/>
    </sequence>
  </complexType>

  <complexType name="KeyValueOfanyTypeAbstractId">
    <sequence>
      <element name="Key" type="mns:guid"/>
      <element name="Value" type="ns1:Id"/>
    </sequence>
  </complexType>

</schema>
