congruity/operation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://schemas.datacontract.org/2004/07/Logitech.Harmony.Services.Common.Contracts.Data.Operation"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:mns="http://schemas.microsoft.com/2003/10/Serialization/"
  xmlns:ns1="http://schemas.datacontract.org/2004/07/Logitech.Harmony.Services.Common.Contracts.Data"
  xmlns:ns3="http://schemas.datacontract.org/2004/07/Logitech.Harmony.Services.Manager.DeviceManager.Contracts.Data.SearchMatch"
  xmlns:ns4="http://schemas.datacontract.org/2004/07/Logitech.Harmony.Services.Common.Contracts.Data.Operation"
  xmlns:ns5="http://schemas.datacontract.org/2004/07/Logitech.Harmony.Services.Manager.DeviceManager.Contracts.Data.Operation"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  attributeFormDefault="qualified">
  <import namespace="http://schemas.datacontract.org/2004/07/Logitech.Harmony.Services.Common.Contracts.Data" schemaLocation="data.xsd"/>
  <import namespace="http://schemas.datacontract.org/2004/07/Logitech.Harmony.Services.Manager.DeviceManager.Contracts.Data.SearchMatch" schemaLocation="search_match.xsd"/>
  <import namespace="http://schemas.datacontract.org/2004/07/Logitech.Harmony.Services.Manager.DeviceManager.Contracts.Data.Operation" schemaLocation="dm_operation.xsd"/>
  <import namespace="http://schemas.microsoft.com/2003/10/Serialization/" schemaLocation="serialization.xsd"/>

  <complexType name="AddOperationBase">
    <sequence>
      <element name="ParentAccount" type="ns1:Id"/>
      <element name="ReturnIdAsKey" type="mns:guid" nillable="true"/>
      <element name="ReturnObjectAsKey" type="xsd:string" nillable="true"/>
      <element name="TemporaryId" type="xsd:string" nillable="true"/>
    </sequence>
  </complexType>

  <complexType name="DeleteOperationBase">
    <sequence>
      <element name="ParentAccount" type="ns1:Id"/>
      <element name="ObjectId" type="xsd:string" nillable="true"/>
    </sequence>
  </complexType>

  <complexType name="UpdateDeviceOperationStart">
    <sequence>
      <element name="ParentAccount" type="ns1:Id"/>
      <element name="Object" type="xsd:string" nillable="true"/>
    </sequence>
  </complexType>

  <complexType name="Items">
    <sequence>
      <element name="Operation" type="ns5:Operation"/> 
    </sequence>
  </complexType>

  <complexType name="OperationBag">
    <sequence>
      <element name="ParentAccount" type="ns1:Id"/>
      <element name="Items" type="ns4:Items"/>
    </sequence>
  </complexType>

</schema>
